@charset "UTF-8";
#header {
  width: 100%; }

#head {
  width: 100%; }

#login {
  width: 100%; }

#foot {
  width: 100%; }

#header {
  height: 32px; }

.headertop {
  height: 32px; }

.top {
  float: right;
  width: 500px;
  height: 32px;
  position: relative; }

.headertop p {
  float: left;
  font-size: 12px;
  width: 137px;
  line-height: 32px;
  margin-right: 5px; }

.headertop a {
  font-size: 12px;
  line-height: 32px; }

.headertop .a1 {
  border-right: 1px solid gray;
  padding-right: 10px; }

.indent {
  font-size: 12px;
  margin-left: 16px; }

.headertop b {
  position: absolute;
  left: 286px; }

.notice {
  font-size: 12px;
  margin-left: 40px; }

.headertop i {
  position: absolute;
  right: 26px; }

.headertop em {
  position: absolute;
  right: 5px; }

/*搜索*/
#search {
  height: 92px; }

.searchcon {
  height: 92px; }

.searchconrt {
  width: 440px;
  height: 92px;
  float: right; }

.ser {
  width: 440px;
  height: 58px; }

.searchconrt input {
  margin-top: 30px;
  float: left; }

.a2 {
  float: left;
  margin-top: 28px; }

.a3 {
  float: right;
  margin-top: 30px; }

.hot {
  width: 440px;
  height: 35px; }

.hot p {
  font-size: 12px;
  color: #ffffff;
  line-height: 35px;
  margin-left: 12px; }

/*导航*/
#nav {
  width: 1525px;
  height: 62px;
  z-index: 200;
  background: #FFFFFF; }

.navcon {
  height: 62px; }

.logo {
  float: left; }

.navconrt {
  width: 1002px;
  height: 62px;
  float: left;
  margin-left: 16px;
  position: relative; }

.navconrt li {
  float: left;
  padding-top: 20px; }

.navconrt li a {
  display: block;
  width: 99px;
  height: 20px;
  border-right: 1px solid gray;
  text-align: center;
  color: gray; }

.t2 {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100px;
  background: #FFFFFF; }

.t2 li {
  height: 40px;
  width: 100px;
  font-size: 12px;
  text-align: center; }

.navconrt li:hover .t2 {
  display: block;
  border-top: 5px solid red; }

.navconrt b {
  position: absolute;
  left: 168px;
  top: 20px; }

#fd {
  height: 350px; }

.fdcon {
  width: 1200px;
  height: 300px;
  border: 1px solid gray;
  margin: 0 auto;
  margin-top: 50px; }

.hour {
  float: left;
  margin-right: 125px;
  margin-top: 47px;
  margin-left: 147px;
  width: 268px;
  height: 154px;
  border-right: 1px solid gray;
  text-align: center; }

.hour img {
  margin-left: 50px;
  margin-bottom: 34px; }

.hour p {
  width: 156px;
  height: 34px;
  background: #b81c22;
  text-align: center;
  line-height: 34px; }

.go {
  float: left;
  margin-top: 47px;
  width: 268px;
  height: 154px;
  border-right: 1px solid gray;
  margin-right: 125px; }

.go img {
  margin-left: 50px;
  margin-bottom: 34px; }

.go p {
  width: 156px;
  height: 34px;
  text-align: center;
  line-height: 34px; }

.people {
  float: left;
  margin-top: 47px;
  width: 156px;
  height: 154px; }

.people img {
  margin-left: 20px;
  margin-bottom: 34px; }

.go p {
  width: 156px;
  height: 34px;
  text-align: center;
  line-height: 34px; }

.new {
  width: 1080px;
  height: 58px;
  background: #f8f8f8;
  float: left;
  margin-left: 50px;
  margin-top: 20px; }

.new li {
  float: left;
  width: 180px;
  height: 58px;
  text-align: center;
  line-height: 58px; }

.new li a {
  border-right: 1px solid gray;
  padding-right: 50px; }

.new .last a {
  border-right: none; }

#foot {
  height: 163px; }

.footcon {
  width: 1200px;
  height: 163px;
  margin: 0 auto;
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 20px; }

.footcon p {
  font-size: 12px;
  margin-left: 186px; }

.footcon .p1 {
  margin-left: 522px;
  margin-top: 15px; }

.footcon .pic {
  margin-left: 239px;
  margin-top: 44px; }

.footcon a {
  float: left;
  margin-right: 20px; }

.pp {
  position: fixed;
  right: 0;
  bottom: 177px;
  width: 71px;
  height: 78px;
  border: 1px solid red;
  z-index: 1000;
  background: #FFFFFF; }

.ke {
  position: fixed;
  right: 0;
  bottom: 105px;
  width: 71px;
  height: 78px;
  border: 1px solid red;
  z-index: 1000;
  background: #FFFFFF; }

.top {
  position: fixed;
  right: 0;
  bottom: 47px;
  width: 71px;
  height: 73px;
  border: 1px solid red;
  background: #b81b22;
  text-align: center;
  padding-top: 5px;
  z-index: 1000; }

.top a {
  color: #FFFFFF;
  font-size: 12px; }

#head {
  height: 56px; }

.headcon {
  width: 1200px;
  height: 56px;
  margin: 0 auto; }

h1 {
  float: left;
  margin-top: 10px; }

.headcon a {
  float: right;
  margin-top: 30px; }

#login {
  height: 528px; }

.logincon {
  width: 1200px;
  height: 474px;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5px; }

.lgleft {
  margin-left: 30px;
  padding-top: 114px;
  width: 414px;
  height: 135px;
  float: left; }

.a1 {
  margin-top: 32px;
  margin-left: 55px; }

.lgleft span {
  font-size: 20px;
  color: red; }

.lgleft em {
  font-size: 20px; }

.lgrt {
  width: 403px;
  height: 454px;
  float: right;
  margin-right: 50px; }

.lgrt b {
  font-size: 20px;
  color: gray;
  margin-right: 128px; }

.lgrt i {
  font-size: 12px; }

.a2 {
  width: 401px;
  height: 410px;
  border: 1px solid black;
  position: relative; }

.a3 {
  width: 401px;
  height: 312px;
  margin-top: 0;
  border-bottom: 1px solid black; }

.a3 .pt {
  float: left;
  display: block;
  width: 200px;
  height: 38px;
  background: #b42025;
  text-align: center;
  line-height: 38px;
  color: #FFFFFF; }

.a3 .ks {
  float: right;
  width: 200px;
  height: 38px;
  background: #f5f5f5;
  text-align: center;
  line-height: 38px;
  color: gray; }

#txt {
  width: 200px;
  height: 35px;
  margin-left: 22px;
  margin-top: 31px; }

#pwd {
  width: 200px;
  height: 35px;
  margin-left: 22px;
  margin-top: 25px; }

.zh {
  margin-right: 10px;
  color: red;
  margin-top: 10px;
  display: block;
  margin-left: 325px; }

.lg {
  width: 361px;
  height: 50px;
  background: #b42025;
  margin-top: 40px;
  margin-left: 20px;
  text-align: center;
  line-height: 50px; }

.a2 p {
  font-size: 12px;
  color: gray;
  margin-left: 22px;
  margin-top: 10px;
  float: left; }

.a2 .pic {
  position: absolute;
  left: 20px;
  top: 340px; }

.a2 .pic1 {
  position: absolute;
  left: 55px;
  top: 340px; }

.a2 .pic2 {
  position: absolute;
  left: 90px;
  top: 340px; }

.a2 .pic3 {
  position: absolute;
  left: 130px;
  top: 340px; }

.a2 .pic4 {
  position: absolute;
  left: 170px;
  top: 340px; }

.a2 .pic5 {
  position: absolute;
  left: 220px;
  top: 340px; }

#foot {
  height: 163px; }

.footcon {
  width: 1200px;
  height: 163px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 20px; }

.footcon p {
  font-size: 12px;
  margin-left: 186px; }

.footcon .p1 {
  margin-left: 522px;
  margin-top: 15px; }

.footcon .pic {
  margin-left: 239px;
  margin-top: 44px; }

.footcon a {
  float: left;
  margin-right: 20px; }
