@import 'public';
    /*banner*/
#banner{height:618px;}
.bannercon{width:1200px;height: 618px;margin:10px auto;overflow: hidden; position: relative; }
.imgs{position:relative; width:576px ;}
.imgs li{ position:absolute;top:0;left:0; }
ol{position: absolute; left:50%;bottom: 10px;width: 210px; } 
ol li{ float: left;width: 20px; height: 20px;margin: 0 5px; text-align: center; border-radius: 50%;
       cursor: default; background-color: #abc; }      
ol li.current{ background-color: pink; }
#left,#right{float: left;width:50px;height:50px;opacity: 0.4;position: absolute;top:250px;font-size: 75px;
             line-height: 50px;text-align: center;font-weight: bolder;cursor: pointer;background: rgba(218,218,218,.5);}
#left{left:0px;z-index: 999;}
#right{left:1150px;z-index: 999;}	

/*搜索*/
#recharge{height: 62px;}
.rechargecon{margin: 0 auto;width: 1200px; height: 62px;}
/*产品*/
#product{height: 84px;}
.productcon{height: 84px;width: 1200px; margin: 0 auto; margin-top:35px ;}
#shoplist{ height: 1450px;}
.shoplistcon{width: 1156px;margin: 0 auto;}
.shoplistcon li{float: left; margin-right: 10px;margin-bottom: 10px; margin-top: 20px;}

/*优质推选*/
.shoplist1con{width: 1200px; margin: 0 auto; margin-top: 20px; }
.shoplist1con h1{text-align: center;font-size: 24px; color: gray;}
.shoplist1con .shoplist1conx{margin-top:30px;}
.shoplist1con .left1{float: left;margin-right: 5px; margin-top:30px ;}
.shoplist1con .center{float: left; margin-right: 5px; margin-top: 30px;}
.shoplist1con .center1{ width:292px;height:260px;}
.shoplist1con .center2{width:292px;height:260px;}
.shoplist1con .right{float: left; margin-top: 30px;}
.shoplist1con span{float: left; margin-top: 10px; color: gray;}
.shoplist1con p{float: right; margin-top: 10px; color: red;}

/*下装推荐*/
.shoplist2con{width: 1200px; margin: 0 auto;margin-top: 30px;}
.shoplist2con h2{text-align: center;font-size: 24px; color: gray;}
.shoplist2cons li{float: left; margin-right: 10px;margin-bottom: 10px; margin-top: 20px;}
.shoplist2cons span{float: left; margin-top: 10px; color: gray;}
.shoplist2cons p{float: right; margin-top: 10px; color: red;}

/*更多精品*/			
.morecon{width: 1200px; margin: 0 auto; margin-top: 30px;}
.morecon h3{text-align: center;font-size: 24px; color: gray;}
.moreconm li{float: right; margin-top: 10px;}

/*fd*/			
#fd{height: 350px;}
.fdcon{width: 1200px; height: 300px; border:1px solid gray;margin:0 auto; margin-top:50px; }				
.hour{float: left; margin-right: 125px; margin-top: 47px;margin-left: 147px; 
width: 268px; height: 154px;border-right: 1px solid gray; text-align: center;}
.hour img{margin-left:50px;margin-bottom:34px; }
.hour p{width: 156px; height: 34px;background:#b81c22; 
         text-align: center;line-height: 34px; }
.go{float: left;margin-top: 47px;width: 268px; height: 154px;
    border-right: 1px solid gray; margin-right: 125px;}
.go img{margin-left:50px;margin-bottom:34px; }
.go p{width: 156px; height: 34px; 
         text-align: center;line-height: 34px; }
.people{float: left;margin-top: 47px; width: 156px; height: 154px; }
.people img{margin-left:20px;margin-bottom:34px;}
.go p{width: 156px; height: 34px;
         text-align: center;line-height: 34px; }
.new {width: 1080px; height:58px; background: #f8f8f8; float: left; margin-left: 50px;
      margin-top: 20px;   }         			
.new li{float: left; width: 180px; height: 58px; text-align: center; line-height: 58px; }
.new li a{border-right: 1px solid gray; padding-right:50px ;}
.new .last a{border-right: none;}			 

/*foot*/					
#foot{height: 163px;}
.footcon{width: 1200px; height: 163px; margin: 0 auto; border-top: 1px solid black;
         margin-top:30px ; padding-top:20px;}
.footcon p{font-size:12px; margin-left:186px ;}
.footcon .p1{margin-left: 522px; margin-top:15px ;}
.footcon .pic{margin-left:239px ; margin-top:44px ;}
.footcon a{float: left;margin-right: 20px;}

.pp{position: fixed;right:0; bottom: 177px;width:71px; height: 78px; border: 1px solid red;z-index: 1000; background: #FFFFFF;}
.ke{position: fixed;right:0; bottom: 105px; width:71px; height: 78px;border: 1px solid red;z-index: 1000; background: #FFFFFF; }
.top{position: fixed;right:0; bottom: 47px;width:71px; height: 73px;
     border: 1px solid red; background:#b81b22;text-align: center;padding-top: 5px;z-index: 1000; }
.top a{color: #FFFFFF; font-size: 12px;}		